# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

##### Assinging float

#### Performing Calculations on ints and floats

##### Addition

##### Subtraction

##### Multiplication

##### Division

##### Floor Division

##### Modulo

##### Exponential

### String Input-Output

##### String Assignment

##### print() <br>
<p>Don't forget about end=' '</p>

##### String Concatenation

##### Type Conversion

##### input()

##### format()

##### Old Way (python 2)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [19]:
color = input("What is the color of the vehicle? ")
year = input("What is the year of your vehicle? ")
make = input("What is the make of your vehicle? ")
model = input("What is the make of your vehicle? ")

results = "You drive a " + (color + " " + year + " " + make + " " + model)

print(results)

What is the color of the vehicle? Black
What is the year of your vehicle? 2017
What is the make of your vehicle? Chevy
What is the make of your vehicle? Malibu
You drive a Black 2017 Chevy Malibu

### If Statements

In [16]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

##### 'is' keyword

##### 'in' keyword

##### 'not in' keyword'

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [22]:
f_name = input("What is your name? ")
if 'p' in f_name: 
    print("True")
else:
    print("Name does not contain P.")

What is your name? Gustavo
Name does not contain P.

## Using 'and'/'or' with If Statements

In [24]:
num_11 = 15
num_12 = 3
num_13 = 10 
num_14 = 3

if num_11 / 5 == num_12 and num_13 - 7 == num_14:
    print("True and True")
    
if num_11 > num_12 or num_13 == num_14:
    print("True and False")

True and True
True and False

### Elif Statements

In [37]:
l_name = input("What is your last name? ")

if l_name == 'Medley':
    print(l_name + ", from Lexington")
elif l_name == 'Morrow':
        print(l_name + ", from Salisbury.")
elif l_name != 'Boger':
    print("Not in the family")
else:
    print("The last name is Boger")

What is your last name? Boger
The last name is Boger

### Else Statements

In [34]:
# see above

### For Loops

In [38]:
#syntax:
# for counter in condition

name = "Keenan Medley"

for letter in name:
    print(letter)

K
e
e
n
a
n

M
e
d
l
e
y

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [40]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [41]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [42]:
for i in name:
    pass

##### Double For Loops

In [43]:
for i in range(5):
    for j in range(5):
        print('i = ', i, 'j = ', j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [44]:
#Syntax:
# while keyword, condition statement

num = 0

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [48]:
game_over = True

while game_over:
    print('Infinite Loop')
    user_input = input('Would you like to stop? ')
    if user_input == 'Yes' or 'yes':
        game_over = False

Infinite Loop
Would you like to stop? yes

##### While & For Loops Used Together

In [49]:
num = 0

while num < 5:
    print("\n While loop iteration: " + str(num))
    
    for i in range(2):
        print("For loop iteration: ", str (i))
        
    num += 1

 While loop iteration: 0
For loop iteration:  0
For loop iteration:  1

 While loop iteration: 1
For loop iteration:  0
For loop iteration:  1

 While loop iteration: 2
For loop iteration:  0
For loop iteration:  1

 While loop iteration: 3
For loop iteration:  0
For loop iteration:  1

 While loop iteration: 4
For loop iteration:  0
For loop iteration:  1

### Built-In Functions

##### range()

In [53]:
# range (start, stop, step)

for i in range(1, 20, 5):
    print(i)

1
6
11
16

##### len()

In [54]:
name = input("Give me the name of your favorite book: ")

length = len(name)
print(length)

Give me the name of your favorite book: The Autobiography of Malcolm X
30

##### help()

In [56]:
# use this function to view more info about a function

help(abs)

Help on built-in function abs in module builtins:

abs(x, /)
    Return the absolute value of the argument.

##### isinstance()

In [63]:
# Check a variable to find out what object family or data type it belongs to
# isinstance(var, type)

num = 5.1
if isinstance(num, int):
    print(f"{num} is an int")
else:
    print(f"{num} is a float!")

5.1 is a float!

##### abs()

In [64]:
print(abs(-5))

5

### Try and Except

In [68]:
# Use this to log out graceful and useful error messages
# Does not stop the program! Neato! 

try:
    input_num = int(input('Guess a number'))
    print('Your number is: ' + str(input_num))
except:
    print("That didn't work! Change your input to a number!")

Guess a numberseventy
That didn't work! Change your input to a number!

### Lists

##### Declaring Lists

In [70]:
list_1 = []

names = ['Max', 'Cindy', 'Kathy', 'Nate', 'Bob']
print(names)
print(isinstance(names, list))

['Max', 'Cindy', 'Kathy', 'Nate', 'Bob']
True

##### Indexing a List

In [77]:
# list_name [start: stop: step]

# Single Index
print(names[4])

# Print starting at index 1 going to the end
print(names[:4])

# Print starting at index 1 and going up By 2 in each iteration
print(names[1::2])

#print starting at the back and display in reverse order
print(names[::-1])

Bob
['Max', 'Cindy', 'Kathy', 'Nate']
['Cindy', 'Nate']
['Bob', 'Nate', 'Kathy', 'Cindy', 'Max']

##### .append()

In [82]:
names.append('Brandon')
print(names)

['Max', 'Cindy', 'Kathy', 'Nate', 'Bob', 'Brandon', 'Brandon', 'Brandon', 'Brandon', 'Brandon']

##### .insert()

In [83]:
names.insert(3, 'Keenan')
print(names)

['Max', 'Cindy', 'Kathy', 'Keenan', 'Nate', 'Bob', 'Brandon', 'Brandon', 'Brandon', 'Brandon', 'Brandon']

##### .pop()

In [84]:
# Defaults to the last value if no parameter is given
# Pop returns the element that was removed in case you want to assign it to a variable

my_name = names.pop(2)
print(my_name)
print(names)

Kathy
['Max', 'Cindy', 'Keenan', 'Nate', 'Bob', 'Brandon', 'Brandon', 'Brandon', 'Brandon', 'Brandon']


##### .remove()

In [87]:
# value will be removed rather than index
# names.remove('bob')
# print(names)

#remove multiple brandons from list
while "Brandon" in names:
    names.remove("Brandon")
print(names)

names.insert(2,'Kathy')
print(names)

['Max', 'Cindy', 'Kathy', 'Keenan', 'Nate', 'Bob']
['Max', 'Cindy', 'Kathy', 'Kathy', 'Keenan', 'Nate', 'Bob']

##### del()

In [ ]:
#Goes by index, rahter than value
# Be careful with del, it can cause indexing errors if you're not careful

del(names[2])
print(names)

##### Concatenating Two Lists

In [89]:
# Will append two list together, will NOT add the values!

list_2 = [0, 1, 2]
list_3 = [3, 4, 5]

large_list = list_2 + list_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [ ]:
# Lists can hold ANY type of other element! Including other lists!
# They can go as deep as you want; this is called nested lists

names = ["Max", "Sam", "Josh", ["Sally", "Sue", "Tameka"]]
print(names)
print(names[3][1])

##### Looping Through Lists

In [91]:
# Two ways to loop through a list! One is by index; the other is by using the 'in' keyword

#By index

for i in range(len(names)):
    print(names[i])
    
# Loop with 'in'
for i in names:
    print(i)

Max
Sam
Josh
['Sally', 'Sue', 'Tameka']
Max
Sam
Josh
['Sally', 'Sue', 'Tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [116]:
for i in range(1000):
    if (i * i * i) > 1000:
        break
    else:
        print(i * i * i)

0
1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [123]:
for i in range(2, 100):
    for j in range(2, i):
        if (i % j) == 0:
            break
    else:
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [111]:
age = input("How old are you? ")
if int(age) < 18:
    print("Kids")
elif int(age) > 18 and int(age) < 66:
    print("Adults")
else:
    print('Seniors')

How old are you? 77
Seniors